@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1>Welcome in Vulyk</h1>
	<a class="btn custom-text" asp-controller="Account" asp-action="Login">Login</a>
	<a class="btn custom-text" asp-controller="Account" asp-action="Register">Register</a>
</div>