html, body{
    flex-direction: row;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

i {
    font-size: 2rem !important;
    color: #6f7579;
}

.i-choosed {
    color: #e66422;
}

.navbar-nav, .navbar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.fa-sign-out{
    padding-left: 4px;
}

.header{
    margin: 0px auto 0px auto;
}

button{
    all: unset;
    cursor: pointer;
}

main{
    width: 100%;
    height: 100%;
}