html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    height: 100%;
}

.i-nav {
    font-size: 2rem !important;
    padding: 10px;
    width: 52px;
    border-radius: 10px;
    color: white;
}

.i-choosed {
    background: #F98E58;
}

.i-chat-tool {
    color: dimgray;
}

.navbar-nav, .navbar, .nav-link, .i-nav {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.fa-sign-out {
    padding-left: 4px;
}

.sidebar {
    margin: 0px auto 0px auto;
    background: var(--main-gradient);
    padding: 2rem !important;
    z-index: 1;
    display: flex;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 0px;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.navbar-toggler-custom {
    padding: 15px;
    font-size: 1.5rem;
}

.navbar-toggler-custom-opened {
    display: block;
    position: absolute;
}

.navbar-toggler-custom, .navbar-toggler-custom-opened {
    display: block;
}

.sidebar-invisible {
    transform: translateX(-100%);
}

.sidebar-visible {
    transform: translateX(0);
}

#toast {
    position: fixed;
    top: 5%;
    left: 35%;
    padding: 1rem;
    border-radius: 12px;
    color: white;
    width: 30%;
    z-index: 3;
}

    #toast.hidden {
        display: none;
    }

    #toast.visible {
        display: flex;
    }

.table-container {
    height: 75%;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .navbar-toggler-custom, .navbar-toggler-custom-opened {
        display: none;
    }

    .sidebar {
        display: block;
        position: static;
        transform: translateX(0);
    }
}