.chat-panel {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.message-panel {
    flex: 4;
}

.chat-page-container {
    height: 100%;
    width: 100%;
    flex: 1;
}

.chat-item {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

    .chat-item.selected {
        background: #f7dc6f;
    }

.last-message-data-time {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
}

.chat-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message-container > .message:first-child {
    margin-top: auto;
}

.message {
    padding: 10px;
    margin: 5px 50px 5px 50px;
    border-radius: 10px;
    align-items: flex-end;
    display: block;
}

    .message.your {
        background: #82e0aa;
        align-self: flex-end;
    }

    .message.partner {
        background: #f7dc6f;
        align-self: flex-start;
    }

.message-time {
    font-size: 12px;
    text-align: end;
    padding-left: 6px;
}

    .message-time.your {
        color: #145a32;
    }

    .message-time.partner {
        color: #7d6608;
    }

.write-message-form{
    margin: 50px;
}

.left-p{
    padding-left: 50px;
}

#no-chats{
    display: flex;
}

#no-chats.newUserAdded{
    display: none;
}