.chat-panel {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.message-panel {
    flex: 4;
}

.chat-page-container {
    height: 100%;
    width: 100%;
}

.chat-item {
    margin: 10px;
    width: 100%;
    padding-left: 12px;
}

.chat-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.messageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    padding: 10px;
    margin: 5px 50px 5px 50px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

    .message.your {
        background: #82e0aa;
        align-self: flex-end;
    }

    .message.partner {
        background: #f7dc6f;
        align-self: flex-start;
    }

.message-time {
    font-size: 12px;
    text-align: end;
    padding-left: 6px;
}

    .message-time.your {
        color: #145a32;
    }

    .message-time.partner {
        color: #7d6608;
    }

.write-message-form{
    margin: 50px;
}