:root {
    --secondary-gradient: linear-gradient(to top, #fda67f, #fcb190);
    --sidebar-width: 116px;
}

.chat-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background: var(--secondary-gradient);
    z-index: 1;
    position: absolute;
    left: var(--sidebar-width);
    top: 0px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.message-panel {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

.chat-page-container {
    height: 100%;
    width: 100%;
    flex: 1;
}

.chat-item {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    color: dimgray;
}

    .chat-item .chat-title {
        color: black;
    }

    .chat-item.selected {
        background: #e66422;
        color: white;
    }

        .chat-item.selected .chat-title {
            color: white;
        }

.last-message-data-time {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
}

.overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.message-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

    .message-container > .message:first-child {
        margin-top: auto;
    }

.message {
    padding: 10px;
    margin: 5px 50px 5px 50px;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    overflow-wrap: break-word;
}

    .message.your {
        background: var(--secondary-gradient);
        align-self: flex-end;
    }

    .message.partner {
        background: var(--main-gradient);
        align-self: flex-start;
    }

.message-time {
    font-size: 12px;
    text-align: end;
    padding-left: 6px;
}

    .message-time.your {
        color: #145a32;
    }

    .message-time.partner {
        color: #7d6608;
    }

.write-message-form {
    margin: 50px;
}

.left-p {
    padding-left: 50px;
}

#no-chats, #no-selected-chat {
    display: flex;
    justify-content: center;
    align-items: center;
}

    #no-chats.newUserAdded {
        display: none;
    }

.chat-page-container.newUserAdded {
    display: flex;
}

#createMessageForm input {
    width: 100%;
}

#chat-header {
    padding: 1rem;
    border: 2px solid #ededed;
}

.chat-panel-visible {
    transform: translateX(0);
}

.chat-panel-invisible {
    transform: translateX(-150%);
}

@media (min-width: 768px) {

    .chat-panel-invisible, .chat-panel-visible {
        display: flex;
        position: static;
        transform: translateX(0);
    }

    .message-panel{
        opacity: 100% !important;
    }
}
