@using Vulyk.ViewModels
@model Vulyk.ViewModels.ChatListViewModel
@{
	ViewData["Title"] = "Chats";
}
@section Styles {
	<link rel="stylesheet" href="~/css/ChatPage.css" asp-append-version="true" />
}

<div class="horizontal chat-page-container">
	<div class="vertical chat-panel start">
		@{
			foreach (ChatListItemViewModel chatItemViewModel in Model.chatItemViewModels)
			{
				<div class="chat-item" data-chatid="@chatItemViewModel.ChatId" data-userid="@chatItemViewModel">
					<div class="chat-title">@chatItemViewModel.Name</div>
					<div class="chat-title">@chatItemViewModel.LastMessageText</div>
				</div>
			}
		}
	</div>
	<div id="messages" class="vertical message-panel">
	</div>
</div>
@section Scripts {
	<script src="~/js/chat.js"></script>
}
