@model Vulyk.ViewModels.CreateMessageViewModel
<form asp-controller="Message" asp-action="CreateMessage">
	<input asp-for="ChatId" hidden />
	<input asp-for="Text" />
	<button type="submit"><i class="fa fa-paper-plane fa-2x"></i></button>
</form>
